* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
/* reset fontsize */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: none;
}
.main_content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background-color: #171117;
}
.btn:hover {
  opacity: 0.9;
}
/* header */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  display: block;
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn_sign_up {
  min-width: 144px;
}
.header .btn_sign_up {
  margin-left: 49px;
}
/* hero */
.hero {
  padding-top: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
/* hero left */
.hero .media_block {
  width: 48%;
  position: relative;
}

.hero .media_block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero_summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}
.hero_summary .item {
  display: flex;
  align-items: center;
}
.hero_summary .item + .item {
  margin-top: 22px;
}
.hero_summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
  display: flex;
}
.hero_summary .icon2 {
  background-color: #fcefff;
}
.hero_summary .icon3 {
  background-color: #ebeaff;
}
.hero_summary .info {
  margin-left: 16px;
}
.hero_summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86rem;
}
.hero_summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}
/* hero right */
.hero .content_block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}
.hero .cta_group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .btn {
  background-color: var(--primary-color);
  min-width: 180px;
  line-height: 64px;
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .desc-stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 15px;
}
.hero .desc-stats strong:nth-child(2) {
  margin-left: 28px;
}
.hero .desc-stats {
  margin-top: 8px;
}
